@charset 'utf-8';
a{
    cursor: pointer;
    text-decoration: none;
    color: #3a3a3a;
}
.layout{
    width: 1200px;
    margin: 0 auto;
}
.layout::after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.f16 {
    font-size: 16px;
}
.bold {
    font-weight: 700;
}

.shortcut {
    min-width: 1200px;
    height: 36px;
    line-height: 36px;
    background-color: #2e2828;
    position: relative;
    z-index: 411;
    color: #AFAFAF;
    .dropdown-navs {
        width: 893px;
        line-height: 20px;
        color: #777;

        .dropdown-navs-icon {
            float: left;
            width: 50px;
            text-align: center;
            margin: 37px 46px 0 49px;
            color: #777;

            span {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                background: #f7f7f7;
                display: block;
                margin-bottom: 3px;
            }

            span:before {
                font-family: iconfont!important;
                font-style: normal;
                content: "\E620";
                font-size: 30px;
                color: #b9b9b9;
                line-height: 50px;
            }
        }
    }
    li{
        float: left;
        padding: 0 8px;
        position: relative;
    }
    li:first-child{
        padding-left: 0;
    }
    li::before{
        content: "";
        width: 1px;
        height: 10px;
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
        background: #414141;
    }
    .s-dropdown{
        position: relative;
        z-index: 310;
        margin: 0 -9px;
        height: 36px;
        .h{
            position: relative;
            padding: 0 12px 0 10px;
            height: 36px;
        }
        .b {
            display: none;
            position: absolute;
            top: 36px;
            right: 0;
            background: #fff;
            box-shadow: 0 2px 36px 0 rgb(0 0 0 / 7%);
            border-radius: 8px 0 8px 8px;
        }
        .icon-dropdown{
            position: relative;
            padding-right: 15px;
        }
        .icon-dropdown::before{
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 0;
            right: -5px;
            background: url(../img/index/icon-common.svg) no-repeat -71px 0 ;
        }
        .icon-minicart{
            position: relative;
            padding-left: 23px;
            display: block;
            white-space: nowrap;
        }
        .icon-minicart::before{
            content: "";
            display: block;
            width: 20px;
            height: 12px;
            position: absolute;
            top: 11px;
            left: -3px;
            line-height: 12px;
            background: url(../img/index/icon-common.svg) no-repeat -99px -4px ;
        }
    }
    .s-dropdown-minicart{
        background: #424242;
    }
    .s-dropdown:hover .b {
        display: block;
    }
    .s-dropdown:hover .h{
        background: #fff;
        z-index: 100;
    }
    .s-dropdown:hover .h a{
        color: #cb242b;
        position: relative;
    }

    .s-dropdown:hover .h a::before{
        background: url(../img/index/icon-common.svg) no-repeat -85px 0 
    }
    .s-dropdown:hover .h .icon-minicart::before{
        background: url(../img/index/icon-common.svg) no-repeat -119px -4px 
    }
    .layout{
        width: 1200px;
        margin: 0 auto;
        // height: 36px;
        a{
            color: #AFAFAF;
        }
        a:hover{
            color: #fff;
        }
        .s-sub{
           float: left; 
        }
        .s-main{
            float: right;
        }
    }
    .layout::after{
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        clear: both;
    }
    .dropdown-more {
        width: 80px;
        padding: 6px 0 12px;
        text-align: center;
        line-height: 32px;

        a {
            color: #777;
        }
    }

    .dropdown-more.w-119 {
        width: 119px;
    }
    .dropdown-code {
        padding: 20px 0;
        width: 244px;
        .dropdown-code-detail {
            padding-left: 24px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 20px;
            a{
                cursor: default;
            }
        }
        .dropdown-code-detail:first-child a {
            cursor: pointer;
        }
        .dropdown-code-detail:last-child {
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 0;
        }
        .code-img {
            width: 90px;
            height: 90px;
            float: left;
            margin-right: 12px;
        }
        .code-info {
            float: left;
            line-height: 18px;
            h2{
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 2px;
            }
            .red{
                color: #cb242b!important;
                line-height: 16px;
            }
            p{
                color: #777;
            }
            span{
                width: 32px;
                height: 32px;
                display: block;
                margin-top: 5px; 
            }
            span.icon-andrid:before {
                background-position: 0 0;
            }
            span.icon-ios:before {
                background-position: -38px -113px;
            }
            span.icon-wechat:before {
                background-position: -32px 0;
            }
        }
        .code-info span:before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background: url(../img/cat/icon-common.svg) no-repeat;
            margin-top: 1px;
        }
        
    }
}

.header{
    min-width: 1200px;
    height: 41px;
    padding: 18px 0 15px 0;
    background: #fff;
    position: relative;
    // line-height: 1.5;
    .layout{
        position: relative;
        width: 1200px;
        margin: 0 auto;
        .left{
            float: left;
            .logo{
                float: left;
                margin-right: 34px;
                position: relative;
                z-index: 1;
                img{
                    height: 36px;
                }
            }
            .naver{
                float: left;
                max-width: 533px;
                height: 40px;
                overflow: hidden;
                a:hover {
                    color: #ca141d;
                }
                ul{
                    overflow: hidden;
                }
                li{
                    float: left;
                    margin-right: 24px;
                    .img{
                        margin-top: 7px;
                        img{
                            display: block;
                            height: 24px;
                        }
                    }
                }
                a{
                    font-size: 16px;
                    color: #333;
                    position: relative;
                    line-height: 40px;
                    display: block;
                }
                
            }
        }
        .right{
            float: right;
            .search-bar{
                margin-top: 5px;
                line-height: 1;
                width: 238px;
                height: 28px;
                background: #f0f0f0;
                border: 1px solid #f0f0f0;
                border-radius: 15px;
                z-index: 310;
                position: relative;
                .text{
                    border: 0;
                    color: #3a3a3a;
                    width: 205px;
                    text-indent: 15px;
                    height: 30px;
                    line-height: 30px;
                    background: transparent;
                    float: left;
                }
                
            }
            .search-bar::after{
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 4px;
                right: 12px;
                background: url(../img/index/icon-common.svg) no-repeat -139px 0 ;
                cursor: pointer;
            }
            
        }
        .right:hover .search-bar{
                border-color: #c9c9c9;
            }
        .right:hover .search-bar::after{
            background: url(../img/index/icon-common.svg) no-repeat -159px 0 ;
        }
    }
    .layout::after{
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        clear: both;
    }
}

.naver-main{
    min-width: 1200px;
    background-color: #FFF;
    .layout{
        position: relative;
        z-index: 410;
        width: 1200px;
        margin: 0 auto;
        .category{
            position: absolute;
            left: 0;
            top: 18px;
            width: 200px;
            .category-list{
                position: relative;
                height: 440px;
                box-shadow: 0 0 28px rgb(0 0 0 / 8%);
                background: rgba(255,255,255,0.95);
                border-radius: 10px;
                cursor: pointer;
            }
            .category-item{
                  height: 40px;
                  line-height: 40px;
                  a{
                    font-size: 14px;
                    color: #848484;
                  }
            }
            .category-info {
                padding-left: 16px;
                width: 184px;
                position: relative;
                cursor: pointer;
            }

            .category-info::after{
                    content: "";
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    z-index: 3;
                    margin-top: -8px;
                    background: url(https://res8.vmallres.com/20210424/css/../images/echannel/icon/icon01.svg) no-repeat -363px 0;
            }
            .category-item:hover .category-panels{
                display: block;
            }
            .category-panels{
                position: absolute;
                left: 199px;
                height: 420px;
                max-width: 1020px;
                background: #FFF;
                padding: 20px 0 0 32px;
                border-radius: 0 10px 10px 0;
                box-shadow: 0 0 46px rgb(0 0 0 / 10%);
                top: 0;
                z-index: 1;
                overflow: hidden;
                display: none;
            }
            .category-panels.category-panels-1 {
                width: 242px;
            }
            .subcate-list {
                width: 242px;
                margin: 0;
                float: left;
                .subcate-item {
                    float: left;
                    margin-bottom: 25px;
                    a {
                        display: table-cell;
                        width: 230px;
                        height: 60px;
                        font-size: 14px;
                        border-radius: 10px;
                        margin-right: 0;
                        vertical-align: middle;
                        img {
                            width: 48px;
                            height: 48px;
                            float: left;
                            margin: 0 8px 0 12px;
                        }
                    }
                }
                .subcate-btn {
                    float: left;
                    a {
                        width: 112px;
                        height: 42px;
                        line-height: 42px;
                        margin-top: 8px;
                        margin-left: 36px;
                        border: 1px solid #f2f2f2;
                        border-radius: 0 22px 22px 0;
                        font-size: 13px;
                        color: #999;
                        display: block;
                        position: relative;
                        text-indent: 34px;
                    }
                    a:before {
                        content: "";
                        width: 42px;
                        height: 42px;
                        background: #fff;
                        border: 1px solid #f2f2f2;
                        display: block;
                        border-radius: 22px;
                        position: absolute;
                        top: -1px;
                        left: -22px;
                    }
                    a:after {
                        content: "";
                        width: 0;
                        height: 0;
                        display: block;
                        border-bottom: 5px solid transparent;
                        border-top: 5px solid transparent;
                        border-left: 5px solid #c0c0c0;
                        position: absolute;
                        top: 16px;
                        left: -1px;
                    }
                }
            }
        }
    }
    
}

.scolor{
    background: #fff!important;
}

.hot-board{
    min-width: 1200px;
    position: relative;
    height: 550px;
    .ec-slider{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 550px;
        ul{
            width: 100%;
            height: 550px;
            position: absolute;
            li{
                float: left;
            }
        }
        .ec-slider-middle{
            width: 1200px;
            margin: 0 auto;
            position: relative;
            height: 475px;
            .ec-slider-nav-1{
                position: absolute;
                bottom: auto;
                left: auto;
                right: 0;
                top: 448px;
                text-align: right;
                width: 300px;
                height: 10px;
                margin-left: -150px;
                span{
                    margin-left: 7px;
                    border-radius: 10px;
                    border: 1px solid #fff;
                    display: inline-block;
                    height: 10px;
                    line-height: 10px;
                    text-align: center;
                    color: #fff;
                    width: 10px;
                    background-color: transparent;
                    cursor: default;
                }
            }
            .button-slider-prev{
                margin-top: 0;
                width: 80px;
                height: 80px;
                position: relative;
                display: block!important;
                left: 204px;
                top: 199px;
                background: url('https://res8.vmallres.com/20210424/css/../images/echannel/icon/icon01.svg') 0 -72px no-repeat;
            }
            .button-slider-next{
                margin-top: 0;
                width: 80px;
                height: 80px;
                position: relative;
                display: block!important;
                left: 1132px;
                top: 119px;
                background: url(https://res8.vmallres.com/20210424/css/../images/echannel/icon/icon01.svg) no-repeat -80px -72px;
            }
        }
    }
    
}

.fl{
    float: left;
}

.home-channel-menu{
    .layout{
        width: 1200px;
        margin: 0 auto;
        position: relative;
        .channel-floor-0{
            position: relative;
        }
    }
}
.home-channel-main{
    position: relative;
    top: -72px;
    height: 34px;
}
.home-channel-list{
    background: #FFF;
    text-align: center;
    border-top: 0 none;
    width: 1200px;
    height: 88px;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgb(0 0 0 / 7%);
    position: absolute;
    z-index: 2;
    li{
        float: left;
        position: relative;
    }
    li.s1{
        width: 270px;
        height: 55px;
        margin-top: 17px;
        border-right: 1px solid #eee;
        .i-mall-prompt{
            padding: 0;
            padding-left: 26px;
            text-align: left;
            color: #3a3a3a;
            .w-name{
                width: 52px;
                height: 52px;
                margin-right: 17px;
                position: relative;
                float: left;
                img{
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                }
            }
            .w-reg{
                margin-top: 1px;
                font-size: 14px;
                color: #999;
            }
            .w-btn{
                margin-top: 6px;
                a{
                    display: inline-block;
                    width: 68px;
                    height: 22px;
                    text-align: center;
                    line-height: 22px;
                    background: #595454;
                    color: #fde4b3;
                    border-radius: 5px;
                    font-size: 13px;
                }
                a.new{
                    width: 66px;
                    height: 20px;
                    line-height: 20px;
                    background: #fff;
                    border: 1px solid #e47b7f;
                    color: #de5b60;
                    margin-right: 8px;
                }
            }
        }
        
    }
    li.s2{
        width: 660px;
        margin-top: 17px;
        ul{
            width: 100%;
            height: 64px;
            li{
                text-align: center;
                float: left;
                width: 104px;
                height: 64px;
                a{
                    text-align: center;
                    display: block;
                    width: 100%;
                    min-width: 48px;
                    max-width: 84px;
                    margin: 0 auto; 
                }
                .p-img{
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                    overflow: hidden;
                    position: relative;
                    img{
                        position: absolute;
                        width: auto;
                        height: auto;
                        transform: scale(0.5,0.5);
                        top: -20px;
                    }
                }
                .p-dec{
                    line-height: 24px;
                    width: 100%;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #777;
                }

            }
            
        }
    }
    li.s3{
        width: 266px;
        height: 88px;
        border-left: 1px solid #eee;
        .p-notice{
            height: 43px;
            border-bottom: 1px solid #eee;
            line-height: 43px;
            text-align: left;
            p{
               color: #777;
               font-size: 12px;
               margin-left: 17px;
            }
            span{
                font-size: 14px;font-weight: bold; 
            }
        }
        .p-info {
            height: 43px;
            border-bottom: 1px solid #eee;
            li{
                height: 42px;
                line-height: 42px;
                width: 88px;
                a{
                    display: block;
                    color: #666;
                        span{
                            margin-right: 2px;
                            display: inline-block;
                            position: relative;
                            width: 20px;
                            height: 20px;
                            top: 5px;
                            overflow: hidden;color: #666;
                            img{
                                width: auto;
                                height: auto;
                                position: absolute;
                                transform: scale(0.5,0.5);
                                top: -20px
                            }
                        }
                }
            }
            
        }
    }
}


.home-promo-list{
    margin-bottom: 13px;
    height: 200px;
    li{
        float: left;
        margin-left: 13px;
        width: 290px;
        height: 200px;
        border-radius: 20px;
        transition: all .2s linear;
        a{
            display: block;
            height: 200px;
        }
    }
    img{
        width: 290px;
        height: 200px;
        border-radius: 10px;
    }
    li:first-child{
        margin: 0 1px 0 0;
    }
    li:hover{
        box-shadow: 0 12px 36px rgb(0 0 0 / 10%);
    }
}




.home-recommend-goods{
    width: 1200px;
    .h{
        position: relative;
        .title{
            font-size: 26px;
            color: #333;
            padding: 27px 0 13px 0;
            line-height: 1;
            margin: 0;
            font-weight: 400;
        }
        .title-l{
            font-size: 26px;
            color: #333;
            padding: 27px 0 0 0;
            line-height: 1;
            margin: 0;
            font-weight: 400;
        }
        .b{
            height: auto;
            position: relative;
            width: 1200px;
        }
        .b::after{
            content: "";
            display: block;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            clear: both;
        }
    }
    .b{
        height: auto;
        position: relative;
        width: 1200px;
    }
    .b::after{
        content: "";
        display: block;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        clear: both;
    }
    
    .span-232{
        width: 232px;
        ul{
            margin: 0 0 0 -10px;
        }
    }
    .grid-items{
        width: 230px;
        height: 290px;
        background: #f9f9f9;
        border-radius: 10px;
        margin-left: 12px;
        margin-bottom: 12px;
        margin-top: 0;
        float: left;
        position: relative;
        z-index: 1;
        transition: all .2s linear 0s;
        .thumb{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            
        }
        .grid-img{
            width: 150px;
            height: 150px;
            margin: 35px auto 0;
            img{
                width: 150px;
                height: 150px;
            }
        }
        .grid-title{
            width: 210px;
            display: block;
            margin: 0 auto;
            padding: 0;
            margin-top: 12px;
            height: 21px;
            line-height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #3a3a3a;
        }
        .grid-desc{
            color: #777;
            line-height: 18px;
            padding: 0 10px;
            margin: 2px 20px 7px;
            font-size: 12px;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .grid-price{
            color: #d0021b;
            line-height: 21px;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .grid-items:hover{
        box-shadow: 0 12px 36px rgb(0 0 0 / 10%);
    }
    .grid-items-sm{
        height: 592px;
        img{
            width: 230px;
            height: 592px;
            border-radius: 10px;
        }
    }
    .span-968{
        width: 968px;
    }
}

.goods-rolling {
    width: 1210px;
    height: 295px;
    padding-top: 16px;
    position: relative;
    margin-bottom: 8px;
    left: -5px;
    overflow: hidden;
    margin: 0 auto;
    direction: ltr;
    z-index: 1;
    .grid-list{
        min-width: 1200px;
        position: relative;
    }
    .grid-list::after{
        content: "";
        display: block;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        clear: both;
    }
    .grid-items{
        width: 242px;
        height: 295px;
        border: 0;
        background: 0;
        margin: 0;
        margin-bottom: 10px;
        .grid-img{
            margin: 0 auto;
            margin-bottom: 19px;
            width: 150px;
            height: 150px;
        }
        .grid-desc{
            font-size: 14px;
            line-height: 36px;
            padding: 0 10px;
            border-radius: 0 0 10px 10px;
            position: absolute;
            top: 206px;
            width: 210px;
            left: 6px;
            background: #f3f3f3;
            color: #777;
            margin: 0;
        }
        .grid-title{
            width: 230px;
            display: block;
            margin: 0 auto;
            padding: 0;
            margin-top: 9px;
            height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 21px;
            font-size: 14px;
            font-weight: 400;
            color: #3a3a3a;
        }
    }
    .grid-items:hover{
        box-shadow: none;
    }
    .grid-info{
        width: 230px;
        height: 205px;
        margin: 0 auto;
        background: #fff;
        padding-top: 36px;
        border-radius: 10px;
        box-shadow: 0 1px 8px rgb(0 0 0 / 6%);
        transition: all .2s linear 0s;
    }
    .grid-btn{
        width: 36px;
        height: 72px;
        top: 101px;
        background: rgba(0,0,0,0.06);
        text-align: center;
        cursor: pointer;
        position: absolute;
        z-index: 3;
    }
    .grid-btn::before{
        content: "";
        width: 24px;
        height: 26px;
        background: url('../img/index/icon03.svg') no-repeat;
        position: absolute;
        top: 22px;
    }
    .grid-btn.btn-prev{
        margin-top: 0;
        left: 6px;
        border-radius: 0 8px 8px 0;
    }
    .grid-btn.btn-prev::before{
        right: 7px;
        background-position: -24px 0;
    }
    .grid-btn.btn-next{
        margin-top: 0;
        right: 6px;
        border-radius: 8px 0 0 8px;
    }
    .grid-btn.btn-next::before{
        left: 7px;
    }
}


.channel-floor{
    width: 100%;
    min-width: 1200px;
    .hr-27{
        height: 27px;
    }
    .hr-13{
        height: 13px;
    }
    .ec-slider{
        position: relative;
        overflow: hidden;
        ul{
            overflow: hidden;
            position: absolute;
            li{
                float: left;
                .ec-slider-item-img{
                    overflow: hidden;
                    position: absolute;
                    img{
                        border-radius: 10px;
                        width: 1200px;
                        height: 120px;
                        vertical-align: top;
                    }
                }
            }
        }
        .ec-slider-nav{
            right: 14px;
            bottom: 8px;
            left: auto;
            height: 13px;
            text-align: right;
            position: absolute;
            width: 250px;
            margin-left: 228px;
            span{
                border: 1px solid #fff;
                background: 0;
                opacity: 1;
                margin-left: 9px;
                border-radius: 10px;
                height: 10px;
                width: 10px;
                cursor: default;
                display: inline-block;
            }
        }
    }
}

.home-channel-containner{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
}


.home-channel-floor{
    .h{
        margin: 27px 0 12px;
        line-height: 32px;
        position: relative;
        overflow: hidden;
        .channel-title{
            font-size: 26px;
            color: #333;
            font-weight: 400;
        }
        .channel-nav{
            margin-left: 28px;
            max-width: 940px;
            height: 32px;
            overflow: hidden;
            li{
                float: left;
                font-size: 12px;
            }
            a{
                font-size: 14px;
                color: #999;
                margin-left: 0;
                margin-right: 24px;
                line-height: 32px;
                margin: 0 10px;
                display: inline-block;
                position: relative;
            }
            a:hover{
                color: #cb242b;
            }
        }
    }
    .b{
        height: auto;
    }
    .goods-list .grid-list{
        margin: 0 0 0 -10px;
        .grid-items{
            width: 230px;
            background: #f9f9f9;
            border-radius: 10px;
            margin-left: 12px;
            margin-bottom: 12px;
            margin-top: 0;
            height: 290px;
            float: left;
            position: relative;
            .grid-img{
                width: 150px;
                height: 150px;
                margin: 35px auto 0;
                img{
                    width: 150px;
                    height: 150px;
                }
            }
            .grid-title{
                width: 210px;
                display: block;
                margin: 0 auto;
                padding: 0;
                margin-top: 12px;
                height: 21px;
                line-height: 21px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                font-weight: 400;
                color: #3a3a3a;
            }
            .grid-desc{
                color: #777;
                line-height: 18px;
                padding: 0 10px;
                margin: 2px 20px 7px;
                font-size: 12px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .grid-price{
                color: #d0021b;
                line-height: 21px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                margin: 0 20px 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .thumb{
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }
        .grid-items-md{
            background: #fff;
            img{
                width: 230px;
                height: 290px;
                border-radius: 10px;
            }
        }
        .grid-items-lg{
            width: 472px;
            background: #fff;
            img{
                width: 472px;
                height: 290px;
                border-radius: 10px;
            }
        }
    }
    .grid-list::after{
        content: '';
        display: none;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        clear: both;
    }
    .channel-more{
        height: 32px;
        text-align: center;
        a{
            font-size: 14px;
            color: #333;
            padding-right: 10px;
            padding: 0 14px;
        }
        a::after{
            content: "";
            display: inline-block;
            width: 18px;
            height: 14px;
            background: url(../img/index/icon03.svg) no-repeat;
            background-position: -48px 0;
            position: relative;
            top: 2px;
        }
        a:hover{
            color: #cb242b;
        }
    }
    .goods-rolling{
        width: 1212px;
        height: 240px;
        padding-top: 10px!important;
        .grid-items{
            width: 202px;
            height: 240px;
            border-radius: 10px;
            float: left;
            position: relative;
            transition: all .2s linear 0s;
            .thumb{
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center; 
            }
            .grid-info{
                width: 190px;
                height: 156px;
                padding-top: 34px;
                background: #f9f9f9;
                box-shadow: none;
            }
            .grid-img{
                width: 120px;
                height: 120px;
                margin-bottom: 0; 
                img{
                    width: 120px;
                    height: 120px;
                }
            }
            .grid-title{
                width: 170px;
                height: 21px;
                line-height: 21px;
                margin-top: 8px;
            }
            .grid-desc{
                width: 170px;
                top: 158px;
                line-height: 32px;
                height: 32px;
                background: #f3f3f3;
                color: #777;
                font-size: 12px;
                margin: 0;
            }
            .grid-price{
                line-height: 21px;
                color: #d0021b;
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .grid-btn.btn-prev{
            left: 6px;
            top: 68px;
        }
        .grid-btn.btn-next{
            right: 6px;
            top: 68px;
        }
    }
}

.fr{
    float: right;
}

.j-footer{
    .channel-floor{
        background: #fff;
    }
    .ad{
        width: 100%;
        img{
            border-radius: 10px;
            vertical-align: top;
            width: 100%; 
        }
    }
    .slogan-container{
        background: #f9f9f9;
        width: 100%;
        min-width: 1200px;
        .slogan{
            padding: 22px 0 20px;
            width: 1200px;
            margin: 0 auto;
            li{
                display: table-cell;
                font-size: 18px;
                color: #333;
                height: 40px;
                text-align: center;
                vertical-align: middle;
                i{
                    display: inline-block;
                    vertical-align: middle;
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    background: url(../img/index/icon01.svg) no-repeat;
                }
            }
            .s1 i{
                background-position: -74px 0;
            }
            .s2 i{
                background-position: -154px 0;
            }
            .s3 i{
                background-position: -194px 0;
            }
            .s4 i{
                background-position: -114px 0;
            }
            li:nth-of-type(1){
                padding-right: 120px;
            }
            li:nth-of-type(2){
                padding-right: 120px;
            }
            li:nth-of-type(3){
                padding-right: 110px;
            }
        }
    }
}

.hr-20{
    height: 20px;
}

.hr-60{
    height: 60px;
}


.service-container{
    background: #f9f9f9;
    width: 100%;
    min-width: 1200px;
    
}
.service{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 23px 0 24px;
    width: 1200px;
    margin: 0 auto;
    .service-l{
        width: 920px;
        height: 155px;
        padding-top: 5px;
        border-right: 1px solid #e5e5e5;
        dl{
            width: 16.66667%;
        }
    }
    .service-r{
        width: 278px;
        min-height: 160px;
        margin-top: 2px;
        text-align: center;
        .s7{
            width: 279px;
            .title{
                font-size: 24px!important;
                padding: 0; 
                color: #575757;
                font-weight: bold;
                display: block;
                border-left: none;
                line-height: 1.5!important;
                margin-bottom: 0!important;
            }
            dd{
                font-size: 14px;
                color: #333;
                li a{
                    color: #575757;
                }
            }
        }
    }
    dl{
        float: left;
    }
    dt{
        font-size: 14px;
        color: #3a3a3a;
        .title{
            font-size: 14px!important;
            padding-bottom: 7px;
            color: #333;
            display: block;
            border-left: none;
            padding-left: 0;
            line-height: 1.5!important;
            margin-bottom: 0!important;
        }
    }
    dd li{
        line-height: 22px;
        color: #777;
    }
    dd a{
        color: #777;
        .service-btn{
            color: #fff;
        }
    }
    dd a:hover{
        color: #ca141d;
        text-decoration: none;
    }
}
.service::after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.service-btn{
    display: block;
    width: 170px;
    height: 34px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 34px;
    background: #333;
    cursor: pointer;
    border-radius: 17px;
    color: #fff!important;
    i{
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 6px;
        vertical-align: middle;
        position: relative;
        top: -1px; 
    }
    i::before{
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../img/index/icon03.svg') no-repeat;
        background-position: -106px 0;
        position: relative;
        top: -2px;
    }
}
.service-btn:hover{
    background: #777;
}

.service-code{
    float: left;
    width: 250px;
    margin-top: 26px;
    margin-left: 40px;
    h2{
        font-size: 14px;
        color: #333;
        float: left;
        font-weight: 400;
    }
    ul{
        float: left;
        margin-left: 3px;
    }
    li{
        width: 24px;
        height: 24px;
        margin-right: 11px;
        position: relative;
        float: left;
        a{
            display: block;
            width: 24px;
            height: 24px;
            text-indent: -999px;
            overflow: hidden;
            background: url('../img/index/icon03.svg') no-repeat;
        }
        .service-code-img{
            display: none;
            position: absolute;
            top: 30px;
            left: -50px;
            background: #fff;
            width: 120px;
            height: 120px;
            box-shadow: 0 1px 5px rgb(158 158 158 / 60%);
            img{
                width: 108px;
                height: 108px;
                vertical-align: top;
                margin: 6px;
            }
        
        }
    }
    .service-code-img-f:hover div{
        display: block;
    }
}
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}


.footer-container {
    background: #f9f9f9;
    width: 100%;
    min-width: 1200px;
}


.footer{
    padding: 25px 0 28px;
    width: 1200px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
    a:hover{
        color: #ca151d;
        text-decoration: none;
    }
}

.footer-warrant-area {
    text-align: left;
    color: #a4a4a4;
    line-height: 20px;
    .footer-warrant-logo{
        width: 82px;
        height: 20px;
        padding: 3px 20px 0 0;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
        img{
            vertical-align: top;
            width: 82px;
            height: 20px;
        }
    }
    a{
        color: #a4a4a4;
    }
    .footer-warrant-img{
        margin-top: 2px;
        width: 278px;
        text-align: center;
        a{
            display: inline-block;
            width: 100px;
            margin: 0 5px;
            float: none!important;
        }
        img{
            vertical-align: top;
            width: 100px;
        }
    }
}


.footer-warrant-link {
    margin-top: 3px;
    margin-bottom: 6px;
    li{
        float: left;
        line-height: 1;
        padding-right: 6px;
        border-right: 1px solid #d3d3d3;
        margin-right: 6px;
        a{
            color: #777;
        }
    }
}

.float-main {
    width: 80px;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%);
    border-radius: 10px;
    position: fixed;
    right: 16px;
    bottom: 30px;
    z-index: 500;
    padding-top: 8px;
}

.hungBar{
    .hungBar-content {
        width: 80px;
        padding-bottom: 20px;
    }
    .hungBar-common{
        a{
            padding-top: 12px;
            width: 80px;
            height: 56px;
            display: block;
            position: relative;
            i{
                color: #999;
                display: block;
                line-height: 16px;
                text-align: center;
                font-style: normal; 
            }
        }
        .hungBar-cart::before{
            background-position: 0 -32px;
        }
        .hungBar-service::before{
            background-position: -40px -32px;
        }
        .hungBar-feedback::before{
            background-position: -80px -32px;
        }
        .hungBar-top::before{
            background-position: -120px -32px;
        }
        a::before{
            content: "";
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 40px;
            position: relative;
            background: url('../img/index/icon-common.svg') no-repeat;
        }
    }
}

